/*GENERAL STYLING*/

html, body {
	height: 100%;
	background: #FAF8F4;
	/*background: #FFFFFF;*/
}

body {
	font-family: "Open Sans", Helvetica, Arial, sans-serif;
	color: #EEEEEE;
	font-size:15px;
	line-height: 2;
	font-weight:100;
	overflow-x: hidden !important;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	color: black;
	font-family: Montserrat,Helvetica,Arial,sans-serif;
	font-weight: bold;
	letter-spacing:3px;
}

section {
	-webkit-backface-visibility: hidden;
	padding-top: 100px;
	padding-bottom: 100px;
	background:white;
	position:relative;
	z-index:3;
	background:#EEEEEE;
}

/* THUMB MIDDLE MODULE*/
.thumb-middle {
	border: 4px solid #FFFFFF;
	border-radius: 50%;
	height: 160px;
	position: relative;
	text-align: center;
	width: 160px;
	display:block;
	margin: -180px auto 100px;
}

/* HEAD Section */
#head {
	/*background:#E06B6B;*/
	/*background:#E68E84;*/
	background:#C96E60;
	height:200px;
}

.welcome-text {
	text-align: center;
	font-size: 50px;
	margin: -50px auto;
	color: #FFFFFF;
}

.role-text {
	text-align: center;
	font-size: 15px;
	color: #FFFFFF;
	margin: 30px auto 100px;
}

.ornaments_container {
	text-align: center;
	height: 130px;
	margin: -80px auto 100px;
}

.arrow-down {
  width: 0px; 
  height: 0px; 
  border-left: 40px solid transparent;
  border-right: 40px solid transparent;
	display: inline-block;
	margin: 25px auto -30px;
}
#odd {
  border-top: 70px solid #FFFFFF;
}

#even {
  border-top: 70px solid #FFD52E;
}

.triangle_ornament {
	text-align: center;
	font-size: 100px;
}

/* Profile Section */
#profile {
	height:1000px;
	background:#FAF8F4;
}

.information {
	margin: -80px auto;
}

.cv_info {
	text-align: center;
	font-size: 18px;
	color: #555555;
}

.publications_info {
	text-align:center;
	font-size: 18px;
	color: #555555;
}
ul.publication-item > li {
	color: #555555;
	font-size: 15px;
	text-align:justify;
	line-height:130%;
	margin: 10px 10% 0px 10%;
}

.hv-line {
	height: 3px;
	width: 100%;
	background:black;
	border-radius: 0%;
	background: linear-gradient(45deg, white, #E68E84 50%, white);
	position:relative;
	display: inline-block;
	margin: auto;
}
